openapi: 3.1.0
info:
  title: Credit Card Product
  version: '3.0'
servers:
  - url: https://mo-services-demo-cc-alpha.moprestamo.com
tags:
    - name: Onboarding
    - name: Account Management
    - name: Transactions
    - name: Payments
    - name: Disputes
    - name: Bulk Cards
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      x-default: feebf600-5b52-485a-be26-17cc0debdaee
      name: x-api-key
security:
  - sec0: []
paths:
  /products/segments/:
    get:
      summary: Get Segment
      description: ''
      tags:
        - Onboarding
      operationId: get-segment
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
        - name: line_of_credit
          in: query
          description: >-
            Maximum range of the score or line of credit that the product has.
            Ex: 1,000-10,000 is the score range for the platinum product or
            segment
          required: true
          schema:
            type: integer
            format: int32
            default: 10000
        - name: product_name
          in: query
          description: >-
            Name of the product configured on the project of the program
            manager.
          schema:
            type: string
            default: platinum
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 200,
                        "status": "ok",
                        "processing_time": 46,
                        "response_data": {
                            "product_id": "ef12dd2c-f660-40bc-a62b-a54245bda11a",
                            "product_name": "platinum",
                            "interest_rate": "42.00",
                            "line_of_credit": "10000.00"
                        },
                        "system_timestamp": "2023-09-15T16:03:34.788-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 200
                    default: 0
                  status:
                    type: string
                    example: ok
                  processing_time:
                    type: integer
                    example: 46
                    default: 0
                  response_data:
                    type: object
                    properties:
                      product_id:
                        type: string
                        example: ef12dd2c-f660-40bc-a62b-a54245bda11a
                      product_name:
                        type: string
                        example: platinum
                      interest_rate:
                        type: string
                        example: '42.00'
                      line_of_credit:
                        type: string
                        example: '10000.00'
                  system_timestamp:
                    type: string
                    example: '2023-09-15T16:03:34.788-06:00'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Segment:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 46225,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "No segment found with the specified score",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-26T13:36:46.102-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 400
                    default: 0
                  status:
                    type: string
                    example: bad_request
                  processing_time:
                    type: integer
                    example: 46225
                    default: 0
                  response_data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                              example: No segment found with the specified score
                            code:
                              type: string
                              example: invalid
                  system_timestamp:
                    type: string
                    example: '2023-09-26T13:36:46.102-06:00'
      deprecated: false
  /customers/:
    post:
      summary: Create Customer
      description: ''
      tags:
        - Onboarding
      operationId: create-customer
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - line_of_credit
                - product_id
                - external_id
                - first_name
                - last_name
                - city
                - address
                - payment_day
              properties:
                line_of_credit:
                  type: integer
                  description: >-
                    Line of credit for the credit card account. Also called open
                    to buy or OTB on the processors.
                  default: 10000
                  format: int32
                product_id:
                  type: string
                  description: >-
                    Product identifier given by MO. Remember that products are
                    created in advance and represent segments of scores or line
                    of credits.
                  default: ef12dd2c-f660-40bc-a62b-a54245bda11a
                external_id:
                  type: string
                  description: >-
                    External identifier provided by the program manager for the
                    customer.
                  default: motest88
                first_name:
                  type: string
                  description: First name of the customer.
                  default: Jon
                middle_name:
                  type: string
                  description: Middle name of the customer.
                last_name:
                  type: string
                  description: Last name of the customer.
                  default: Snow
                city:
                  type: string
                  description: City that the customer registered on the application.
                  default: Toronto
                address:
                  type: string
                  description: Address registered by the customer on the application.
                  default: 218 Lawrence Stree
                postal_code:
                  type: string
                  description: >-
                    Postal code of the address that the customer registered on
                    the application.
                payment_day:
                  type: string
                  description: >-
                    Maximum payment day or due date chosen by the customer on
                    the application. Available options depend on the dates
                    selected by the program manager.
                  default: '2'
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 201,
                        "status": "created",
                        "processing_time": 1342,
                        "response_data": {
                            "id": "876a5437-9acd-4cf7-bfe5-0eec083f98dc",
                            "external_id": "motest88",
                            "first_name": "Jon",
                            "middle_name": "",
                            "last_name": "Snow",
                            "address": "calle 98 # 56 - 123",
                            "city": "Bogota",
                            "postal_code": "080001",
                            "line_of_credit": {
                                "pre_approved_amount": "20000.00",
                                "product_id": "ef12dd2c-f660-40bc-a62b-a54245bda11a",
                                "others": {
                                    "line_of_credit": "20000",
                                    "last_closing_date": "2023-09-05"
                                }
                            }
                        },
                        "system_timestamp": "2023-09-05T15:12:26.103-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 201
                    default: 0
                  status:
                    type: string
                    example: created
                  processing_time:
                    type: integer
                    example: 1342
                    default: 0
                  response_data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 876a5437-9acd-4cf7-bfe5-0eec083f98dc
                      external_id:
                        type: string
                        example: motest88
                      first_name:
                        type: string
                        example: Jon
                      middle_name:
                        type: string
                        example: ''
                      last_name:
                        type: string
                        example: Snow
                      address:
                        type: string
                        example: 'calle 98 # 56 - 123'
                      city:
                        type: string
                        example: Bogota
                      postal_code:
                        type: string
                        example: '080001'
                      line_of_credit:
                        type: object
                        properties:
                          pre_approved_amount:
                            type: string
                            example: '20000.00'
                          product_id:
                            type: string
                            example: ef12dd2c-f660-40bc-a62b-a54245bda11a
                          others:
                            type: object
                            properties:
                              line_of_credit:
                                type: string
                                example: '20000'
                              last_closing_date:
                                type: string
                                example: '2023-09-05'
                  system_timestamp:
                    type: string
                    example: '2023-09-05T15:12:26.103-06:00'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Customer:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 117,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "Customer already exists",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-26T10:57:05.569-06:00"
                    }
                Invalid Payment Day:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 12,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "\"44\" is not a valid choice.",
                                    "code": "invalid_choice",
                                    "field": "payment_day"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-26T10:57:35.560-06:00"
                    }
                Invalid Score:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 391,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "the score is not within the product's allowable range",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-26T10:59:11.942-06:00"
                    }
                Invalid Product:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 56,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "Product does not exists",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-26T11:00:35.974-06:00"
                    }
              schema:
                oneOf:
                  - title: Invalid Customer
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 117
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: Customer already exists
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-26T10:57:05.569-06:00'
                  - title: Invalid Payment Day
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 12
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: '"44" is not a valid choice.'
                                code:
                                  type: string
                                  example: invalid_choice
                                field:
                                  type: string
                                  example: payment_day
                      system_timestamp:
                        type: string
                        example: '2023-09-26T10:57:35.560-06:00'
                  - title: Invalid Score
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 391
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: >-
                                    the score is not within the product's
                                    allowable range
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-26T10:59:11.942-06:00'
                  - title: Invalid Product
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 56
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: Product does not exists
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-26T11:00:35.974-06:00'
      deprecated: false
  /accounts/cards/:
    post:
      summary: Create Additional Card
      description: ''
      tags:
        - Account Management
      operationId: create-additional-card
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - account_card_external_id
                - card_external_id
              properties:
                account_card_external_id:
                  type: string
                  description: >-
                    Account card identifier given by the processor to the
                    customer.
                  default: '126'
                card_external_id:
                  type: string
                  description: >-
                    Payment reference number PRN or credit card identifier given
                    by the processor to track all transactions
                  default: '563101002647'
                others:
                  type: string
                  description: >-
                    Additional information that the program manager wants to
                    save on MO. All the information must be in a JSON.
                  default: '{''processor_product_id'':''1234-abc''}'
                  format: json
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 201,
                        "status": "created",
                        "processing_time": 240,
                        "response_data": {
                            "external_id": "563101002647",
                            "card_number": "518065XXXXXX5215",
                            "brand": "visa",
                            "card_type": "physical",
                            "status": "default",
                            "is_main": true,
                            "others": {
                                "product_id": "3031"
                            },
                            "id": "2949fd7e-fc68-4ac1-8abe-73fd9da38a8c"
                        },
                        "system_timestamp": "2023-09-05T15:10:25.683-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 201
                    default: 0
                  status:
                    type: string
                    example: created
                  processing_time:
                    type: integer
                    example: 240
                    default: 0
                  response_data:
                    type: object
                    properties:
                      external_id:
                        type: string
                        example: '563101002647'
                      card_number:
                        type: string
                        example: 518065XXXXXX5215
                      brand:
                        type: string
                        example: visa
                      card_type:
                        type: string
                        example: physical
                      status:
                        type: string
                        example: default
                      is_main:
                        type: boolean
                        example: true
                        default: true
                      others:
                        type: object
                        properties:
                          product_id:
                            type: string
                            example: '3031'
                      id:
                        type: string
                        example: 2949fd7e-fc68-4ac1-8abe-73fd9da38a8c
                  system_timestamp:
                    type: string
                    example: '2023-09-05T15:10:25.683-06:00'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Card Exists:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 95,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "There is already a card with this external_id",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T09:16:26.954-06:00"
                    }
                Invalid Acocunt:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 46,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The customer does not have an account card",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T09:17:20.099-06:00"
                    }
              schema:
                oneOf:
                  - title: Card Exists
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 95
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: >-
                                    There is already a card with this
                                    external_id
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T09:16:26.954-06:00'
                  - title: Invalid Acocunt
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 46
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The customer does not have an account card
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T09:17:20.099-06:00'
      deprecated: false
  /customers/confirm/:
    post:
      summary: Confirm Customer
      description: ''
      tags:
        - Onboarding
      operationId: confirm-customer
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - external_id
                - card_external_id
              properties:
                external_id:
                  type: string
                  description: >-
                    External identifier provided by the program manager for the
                    customer.
                  default: motest88
                card_external_id:
                  type: string
                  description: >-
                    Payment reference number PRN or credit card identifier given
                    by the processor to track all transactions
                  default: '563101002647'
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 202,
                        "status": "accepted",
                        "processing_time": 6509,
                        "response_data": {
                            "external_id": "11",
                            "status": "active",
                            "cards": [
                                {
                                    "external_id": "563101002647",
                                    "card_number": "518065XXXXXX5215",
                                    "brand": "visa",
                                    "card_type": "physical",
                                    "status": "default",
                                    "is_main": true,
                                    "others": {
                                        "product_id": "3031"
                                    }
                                }
                            ],
                            "others": {}
                        },
                        "system_timestamp": "2023-09-14T09:08:37.727-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 202
                    default: 0
                  status:
                    type: string
                    example: accepted
                  processing_time:
                    type: integer
                    example: 6509
                    default: 0
                  response_data:
                    type: object
                    properties:
                      external_id:
                        type: string
                        example: '11'
                      status:
                        type: string
                        example: active
                      cards:
                        type: array
                        items:
                          type: object
                          properties:
                            external_id:
                              type: string
                              example: '563101002647'
                            card_number:
                              type: string
                              example: 518065XXXXXX5215
                            brand:
                              type: string
                              example: visa
                            card_type:
                              type: string
                              example: physical
                            status:
                              type: string
                              example: default
                            is_main:
                              type: boolean
                              example: true
                              default: true
                            others:
                              type: object
                              properties:
                                product_id:
                                  type: string
                                  example: '3031'
                      others:
                        type: object
                        properties: {}
                  system_timestamp:
                    type: string
                    example: '2023-09-14T09:08:37.727-06:00'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Not Allowed:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 5255,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The creation of anonymous customers is not allowed.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-05T15:14:23.993-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 400
                    default: 0
                  status:
                    type: string
                    example: bad_request
                  processing_time:
                    type: integer
                    example: 5255
                    default: 0
                  response_data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                              example: >-
                                The creation of anonymous customers is not
                                allowed.
                            code:
                              type: string
                              example: invalid
                  system_timestamp:
                    type: string
                    example: '2023-09-05T15:14:23.993-06:00'
      deprecated: false
  /customers/{external_id}/:
    get:
      summary: Get Customer Information
      description: ''
      tags:
        - Account Management
      operationId: get-customer-information
      parameters:
        - name: external_id
          in: path
          description: >-
            External identifier of the customer provided by the program manager
            and saved on MO.
          schema:
            type: string
            default: motest88
          required: true
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 200,
                        "status": "ok",
                        "processing_time": 928,
                        "response_data": {
                            "external_id": "motest88",
                            "first_name": "Jon",
                            "middle_name": "",
                            "last_name": "Snow",
                            "address": "calle 98 # 56 - 123",
                            "city": "Bogota",
                            "postal_code": "080001",
                            "product": {
                                "product_id": "ef12dd2c-f660-40bc-a62b-a54245bda11a",
                                "interest_rate": "42.00"
                            },
                            "account_card": {
                                "external_id": "126",
                                "status": "active",
                                "others": {},
                                "cards": [
                                    {
                                        "external_id": "562101002409",
                                        "brand": "visa",
                                        "card_type": "physical",
                                        "card_number": "900000XXXXXX0497",
                                        "is_main": true,
                                        "status": "default",
                                        "others": {
                                            "product_id": "3016"
                                        }
                                    }
                                ]
                            }
                        },
                        "system_timestamp": "2023-09-05T15:17:37.548-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 200
                    default: 0
                  status:
                    type: string
                    example: ok
                  processing_time:
                    type: integer
                    example: 928
                    default: 0
                  response_data:
                    type: object
                    properties:
                      external_id:
                        type: string
                        example: motest88
                      first_name:
                        type: string
                        example: Jon
                      middle_name:
                        type: string
                        example: ''
                      last_name:
                        type: string
                        example: Snow
                      address:
                        type: string
                        example: 'calle 98 # 56 - 123'
                      city:
                        type: string
                        example: Bogota
                      postal_code:
                        type: string
                        example: '080001'
                      product:
                        type: object
                        properties:
                          product_id:
                            type: string
                            example: ef12dd2c-f660-40bc-a62b-a54245bda11a
                          interest_rate:
                            type: string
                            example: '42.00'
                      account_card:
                        type: object
                        properties:
                          external_id:
                            type: string
                            example: '126'
                          status:
                            type: string
                            example: active
                          others:
                            type: object
                            properties: {}
                          cards:
                            type: array
                            items:
                              type: object
                              properties:
                                external_id:
                                  type: string
                                  example: '562101002409'
                                brand:
                                  type: string
                                  example: visa
                                card_type:
                                  type: string
                                  example: physical
                                card_number:
                                  type: string
                                  example: 900000XXXXXX0497
                                is_main:
                                  type: boolean
                                  example: true
                                  default: true
                                status:
                                  type: string
                                  example: default
                                others:
                                  type: object
                                  properties:
                                    product_id:
                                      type: string
                                      example: '3016'
                  system_timestamp:
                    type: string
                    example: '2023-09-05T15:17:37.548-06:00'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Customer:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 84,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The customer does not exists",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T10:48:42.726-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 400
                    default: 0
                  status:
                    type: string
                    example: bad_request
                  processing_time:
                    type: integer
                    example: 84
                    default: 0
                  response_data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                              example: The customer does not exists
                            code:
                              type: string
                              example: invalid
                  system_timestamp:
                    type: string
                    example: '2023-09-27T10:48:42.726-06:00'
      deprecated: false
  /customers/score/update/:
    put:
      summary: Update Score
      description: ''
      tags:
        - Account Management
      operationId: update-score
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - account_card_external_id
                - amount
              properties:
                account_card_external_id:
                  type: string
                  description: >-
                    Account card identifier given by the processor to the
                    account of the customer.
                  default: '126'
                amount:
                  type: string
                  description: New score or line of credit LOC for the credit card account.
                  default: '50000'
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 202,
                        "status": "accepted",
                        "processing_time": 2241,
                        "response_data": {
                            "customer_id": "8b9772fb-e9e0-4a78-9feb-fd928886772f",
                            "product_id": "ec061bbf-1905-4cce-abe7-ce1440a85049",
                            "pre_approved_amount": "2300",
                            "pre_approved_at": "2023-09-25 09:43:38.783008-06:00",
                            "payment_day": "2",
                            "others": {
                                "changes": [
                                    {
                                        "timestamp": "2023-09-25T09:42:48.949467-06:00",
                                        "new_credit_limit": "10000.00",
                                        "old_credit_limit": "3000.00"
                                    },
                                    {
                                        "timestamp": "2023-09-25T09:43:38.783407-06:00",
                                        "new_credit_limit": "50000.00",
                                        "old_credit_limit": "10000.00"
                                    }
                                ],
                                "line_of_credit": "50000.00",
                                "last_closing_date": "2023-09-20",
                                "score_extra_amount": "300"
                            }
                        },
                        "system_timestamp": "2023-09-25T09:43:39.687-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 202
                    default: 0
                  status:
                    type: string
                    example: accepted
                  processing_time:
                    type: integer
                    example: 2241
                    default: 0
                  response_data:
                    type: object
                    properties:
                      customer_id:
                        type: string
                        example: 8b9772fb-e9e0-4a78-9feb-fd928886772f
                      product_id:
                        type: string
                        example: ec061bbf-1905-4cce-abe7-ce1440a85049
                      pre_approved_amount:
                        type: string
                        example: '2300'
                      pre_approved_at:
                        type: string
                        example: '2023-09-25 09:43:38.783008-06:00'
                      payment_day:
                        type: string
                        example: '2'
                      others:
                        type: object
                        properties:
                          changes:
                            type: array
                            items:
                              type: object
                              properties:
                                timestamp:
                                  type: string
                                  example: '2023-09-25T09:42:48.949467-06:00'
                                new_credit_limit:
                                  type: string
                                  example: '10000.00'
                                old_credit_limit:
                                  type: string
                                  example: '3000.00'
                          line_of_credit:
                            type: string
                            example: '50000.00'
                          last_closing_date:
                            type: string
                            example: '2023-09-20'
                          score_extra_amount:
                            type: string
                            example: '300'
                  system_timestamp:
                    type: string
                    example: '2023-09-25T09:43:39.687-06:00'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Customer:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 2910,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The customer account does not exist.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-25T09:55:40.163-06:00"
                    }
                Total Debt Restriction:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 2910,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "Total debt greater than amount requested.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-25T09:55:40.163-06:00"
                    }
                Invalid Line of Credit:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 2910,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "There is no credit line with coverage for this amount",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-25T09:55:40.163-06:00"
                    }
              schema:
                oneOf:
                  - title: Invalid Customer
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 2910
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The customer account does not exist.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-25T09:55:40.163-06:00'
                  - title: Total Debt Restriction
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 2910
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: Total debt greater than amount requested.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-25T09:55:40.163-06:00'
                  - title: Invalid Line of Credit
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 2910
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: >-
                                    There is no credit line with coverage for
                                    this amount
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-25T09:55:40.163-06:00'
      deprecated: false
  /customers/balance/{external_id}/:
    get:
      summary: Get Customer Balance
      description: ''
      tags:
        - Account Management
      operationId: get-customer-information-copy
      parameters:
        - name: external_id
          in: path
          description: >-
            External identifier of the customer provided by the program manager
            and saved on MO.
          schema:
            type: string
            default: motest88
          required: true
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 200,
                        "status": "ok",
                        "processing_time": 5350,
                        "response_data": {
                            "customer_external_id": "motest88",
                            "pre_approved_amount": "50000.00",
                            "available_amount": "47500.25",
                            "total_debt": "0.00",
                            "balance_on_hold": "0.00",
                            "advance": "0.00",
                            "debt_in_dispute": "0.00",
                            "payment_promise": {
                                "maximum_payment_date": "2023-09-01",
                                "minimum_payment": "450.25",
                                "outstanding": "150",
                                "pay_off_amount": "2800",
                                "pay_off_amount_outstanding": "2499.75",
                                "closing_date": "2023-08-21"
                                },
                            "maximum_payment_date": "2023-09-01",
                            "closing_date": "2023-08-21"
                        },
                        "system_timestamp": "2023-09-05T15:18:29.489-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 200
                    default: 0
                  status:
                    type: string
                    example: ok
                  processing_time:
                    type: integer
                    example: 5350
                    default: 0
                  response_data:
                    type: object
                    properties:
                      customer_external_id:
                        type: string
                        example: motest88
                      pre_approved_amount:
                        type: string
                        example: '50000.00'
                      available_amount:
                        type: string
                        example: '47500.25'
                      total_debt:
                        type: string
                        example: '0.00'
                      balance_on_hold:
                        type: string
                        example: '0.00'
                      advance:
                        type: string
                        example: '0.00'
                      debt_in_dispute:
                        type: string
                        example: '0.00'
                      payment_promise:
                        type: object
                        properties:
                          maximum_payment_date:
                            type: string
                            example: '2023-09-01'
                          minimum_payment:
                            type: string
                            example: '450.25'
                          outstanding:
                            type: string
                            example: '150'
                          pay_off_amount:
                            type: string
                            example: '2800'
                          pay_off_amount_outstanding:
                            type: string
                            example: '2499.75'
                          closing_date:
                            type: string
                            example: '2023-08-21'
                      maximum_payment_date:
                        type: string
                        example: '2023-09-01'
                      closing_date:
                        type: string
                        example: '2023-08-21'
                  system_timestamp:
                    type: string
                    example: '2023-09-05T15:18:29.489-06:00'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Customer:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 84,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The customer does not exists",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T10:48:42.726-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 400
                    default: 0
                  status:
                    type: string
                    example: bad_request
                  processing_time:
                    type: integer
                    example: 84
                    default: 0
                  response_data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                              example: The customer does not exists
                            code:
                              type: string
                              example: invalid
                  system_timestamp:
                    type: string
                    example: '2023-09-27T10:48:42.726-06:00'
      deprecated: false
  /loans/:
    post:
      summary: Create Authorization
      description: ''
      tags:
        - Transactions
      operationId: create-authorization
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - external_id
                - amount
                - account_card_external_id
                - card_external_id
              properties:
                external_id:
                  type: string
                  description: >-
                    External identifier of the authorization or pre-loan
                    provided by the processor.
                  default: auth_2212
                amount:
                  type: integer
                  description: Authorized amount by the processor for the transaction.
                  default: 5000
                  format: int32
                account_card_external_id:
                  type: string
                  description: >-
                    Account card identifier given by the processor to the
                    account of the customer.
                  default: '126'
                card_external_id:
                  type: string
                  description: >-
                    Payment reference number PRN or credit card identifier given
                    by the processor.
                  default: '563101002647'
                number_of_installments:
                  type: integer
                  description: >-
                    Number of installments for BNPL transactions or flex loans.
                    The variable is set as zero by default, but if any positive
                    number different from zero is sent on the request, then MO
                    will associate an installment loan offer to the pre-loan or
                    transaction.
                  default: 0
                  format: int32
                others:
                  type: string
                  description: >-
                    Additional information that the program manager wants to
                    save on the pre-loans, such as merchant name, merchant
                    location, mcc code, etc.
                  format: json
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 201,
                        "status": "created",
                        "processing_time": 2291,
                        "response_data": {
                            "id": "fe62974c-dd9f-4853-b1fd-20b44088b317",
                            "external_id": "auth_2212",
                            "customer_id": "876a5437-9acd-4cf7-bfe5-0eec083f98dc",
                            "offer_id": "65a57521-449c-4626-9b7e-4d108bdf2192",
                            "amount": "5000.00"
                        },
                        "system_timestamp": "2023-09-05T15:26:42.873-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 201
                    default: 0
                  status:
                    type: string
                    example: created
                  processing_time:
                    type: integer
                    example: 2291
                    default: 0
                  response_data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: fe62974c-dd9f-4853-b1fd-20b44088b317
                      external_id:
                        type: string
                        example: auth_2212
                      customer_id:
                        type: string
                        example: 876a5437-9acd-4cf7-bfe5-0eec083f98dc
                      offer_id:
                        type: string
                        example: 65a57521-449c-4626-9b7e-4d108bdf2192
                      amount:
                        type: string
                        example: '5000.00'
                  system_timestamp:
                    type: string
                    example: '2023-09-05T15:26:42.873-06:00'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Account:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 118,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The account number does not exists.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:17:16.352-06:00"
                    }
                Invalid Preloan:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 81,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "Pre loan already exists.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:10:17.981-06:00"
                    }
                Invalid Amount:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 126,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The available score is less than the amount.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:17:56.905-06:00"
                    }
              schema:
                oneOf:
                  - title: Invalid Account
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 118
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The account number does not exists.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:17:16.352-06:00'
                  - title: Invalid Preloan
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 81
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: Pre loan already exists.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:10:17.981-06:00'
                  - title: Invalid Amount
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 126
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The available score is less than the amount.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:17:56.905-06:00'
      deprecated: false
  /loans/confirm/:
    post:
      summary: Confirm Settlement
      description: ''
      tags:
        - Transactions
      operationId: confirm-settlement
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - external_id
                - amount
                - account_card_external_id
                - card_external_id
                - others
              properties:
                external_id:
                  type: string
                  description: >-
                    External identifier of the authorization or pre-loan
                    provided by the processor.
                  default: auth_2212
                amount:
                  type: integer
                  description: Authorized amount by the processor for the transaction.
                  default: 5000
                  format: int32
                account_card_external_id:
                  type: string
                  description: >-
                    Account card identifier given by the processor to the
                    account of the customer.
                  default: '126'
                card_external_id:
                  type: string
                  description: >-
                    Payment reference number PRN or credit card identifier given
                    by the processor.
                  default: '563101002647'
                number_of_installments:
                  type: integer
                  description: >-
                    Number of installments for BNPL transactions or flex loans.
                    The variable is set as zero by default, but if any positive
                    number different from zero is sent on the request, then MO
                    will associate an installment loan offer to the pre-loan or
                    transaction.
                  default: 0
                  format: int32
                others:
                  type: string
                  description: >-
                    Additional information that the program manager wants to
                    save on the pre-loans, such as merchant name, merchant
                    location, mcc code, etc. If the loan_external_id inside the
                    others dictionary is different from the external id, MO will
                    use the external id for the pre-loan and the loan external
                    id for the loan.
                  default: >-
                    {"act_type": "settlement",         "merchant_location":
                    "PERRY, GA",         "merchant_name": "AT&T RNCP
                    136300",         "otype": "SETL",        
                    "original_auth_id": "12578",         "loan_external_id":
                    "9024"}
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Account:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 118,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The account number does not exists.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:17:16.352-06:00"
                    }
                Invalid Preloan:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 81,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "Pre loan already exists.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:10:17.981-06:00"
                    }
                Invalid Amount:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 126,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The available score is less than the amount.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:17:56.905-06:00"
                    }
              schema:
                oneOf:
                  - title: Invalid Account
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 118
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The account number does not exists.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:17:16.352-06:00'
                  - title: Invalid Preloan
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 81
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: Pre loan already exists.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:10:17.981-06:00'
                  - title: Invalid Amount
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 126
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The available score is less than the amount.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:17:56.905-06:00'
      deprecated: false
  /loans/reverse/:
    post:
      summary: Reverse Authorization
      description: ''
      tags:
        - Transactions
      operationId: reverse-authorization
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - external_id
                - amount
              properties:
                external_id:
                  type: string
                  description: >-
                    External identifier of the authorization or pre-loan
                    provided by the processor.
                  default: auth_2212
                amount:
                  type: integer
                  description: Authorized amount by the processor for the transaction.
                  default: 1000
                  format: int32
                others:
                  type: string
                  description: >-
                    Additional information that the program manager wants to
                    save on the reversal, such as merchant name, merchant
                    location, mcc code, reversal reason, etc.
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 200,
                        "status": "ok",
                        "processing_time": 984,
                        "response_data": {
                            "id": "fe62974c-dd9f-4853-b1fd-20b44088b317",
                            "external_id": "123123",
                            "customer_id": "876a5437-9acd-4cf7-bfe5-0eec083f98dc",
                            "offer_id": "65a57521-449c-4626-9b7e-4d108bdf2192",
                            "amount": "4000.00"
                        },
                        "system_timestamp": "2023-09-05T15:29:22.913-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 200
                    default: 0
                  status:
                    type: string
                    example: ok
                  processing_time:
                    type: integer
                    example: 984
                    default: 0
                  response_data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: fe62974c-dd9f-4853-b1fd-20b44088b317
                      external_id:
                        type: string
                        example: '123123'
                      customer_id:
                        type: string
                        example: 876a5437-9acd-4cf7-bfe5-0eec083f98dc
                      offer_id:
                        type: string
                        example: 65a57521-449c-4626-9b7e-4d108bdf2192
                      amount:
                        type: string
                        example: '4000.00'
                  system_timestamp:
                    type: string
                    example: '2023-09-05T15:29:22.913-06:00'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Account:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 118,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The account number does not exists.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:17:16.352-06:00"
                    }
                Invalid Preloan:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 81,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "Pre loan already exists.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:10:17.981-06:00"
                    }
                Invalid Amount:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 126,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The available score is less than the amount.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:17:56.905-06:00"
                    }
              schema:
                oneOf:
                  - title: Invalid Account
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 118
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The account number does not exists.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:17:16.352-06:00'
                  - title: Invalid Preloan
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 81
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: Pre loan already exists.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:10:17.981-06:00'
                  - title: Invalid Amount
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 126
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The available score is less than the amount.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:17:56.905-06:00'
      deprecated: false
  /loans/reject/:
    post:
      summary: Reject Authorization
      description: ''
      tags:
        - Transactions
      operationId: reject-authorization
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - external_id
              properties:
                external_id:
                  type: string
                  description: >-
                    External identifier of the authorization or pre-loan
                    provided by the processor.
                  default: auth_2212
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Account:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 118,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The account number does not exists.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:17:16.352-06:00"
                    }
                Invalid Preloan:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 81,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "Pre loan already exists.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:10:17.981-06:00"
                    }
                Invalid Amount:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 126,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The available score is less than the amount.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-09-27T16:17:56.905-06:00"
                    }
              schema:
                oneOf:
                  - title: Invalid Account
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 118
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The account number does not exists.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:17:16.352-06:00'
                  - title: Invalid Preloan
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 81
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: Pre loan already exists.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:10:17.981-06:00'
                  - title: Invalid Amount
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 126
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The available score is less than the amount.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-09-27T16:17:56.905-06:00'
      deprecated: false
  /transactions/:
    get:
      summary: Get Processor Transactions
      description: ''
      tags:
        - Transactions
      operationId: get-processor-transactions
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: feebf600-5b52-485a-be26-17cc0debdaee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_external_id
                - start_date
                - end_date
                - page
              properties:
                customer_external_id:
                  type: string
                  description: >-
                    External identifier of the customer provided by the program
                    manager and saved on MO.
                  default: motest88
                start_date:
                  type: string
                  description: Starting date to filter the desired transactions.
                  default: '2023-01-01'
                end_date:
[...]
