openapi: 3.1.0
info:
  title: Credit Card Product
  version: '2.0'
servers:
  - url: https://mo-services-demo-cc-beta.moprestamo.com
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      x-default: LfPjK9G1.HdU3KoMpRdszfUR735RFOVb74uo0nfa0
      name: x-api-key
security:
  - sec0: []
paths:
  /accounts/cards/anon/order/location/:
    post:
      summary: Create Anonymous Card Location
      description: >-
        Use the this endpoint to create a new store location, associated with a
        provider-specific ID, and nest it below a parent location (store) on
        Galileo. The first location you create will be designated location 0,
        the top-level location.
      operationId: create-anonymous-card-locations-1
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: LfPjK9G1.HdU3KoMpRdszfUR735RFOVb74uo0nfa0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - address
                - city
                - state
                - postal_code
                - parent_location
              properties:
                name:
                  type: string
                  description: Name of the store or location
                  default: demo-cc-store
                address:
                  type: string
                  description: Address of the store or location.
                  default: 127 Lawrence Street
                city:
                  type: string
                  description: City of the store or location.
                  default: Toronto
                state:
                  type: string
                  description: State of the city.
                  default: 'ON'
                postal_code:
                  type: string
                  description: Postal code of the address.
                  default: '01902'
                parent_location:
                  type: integer
                  description: >-
                    Identifier for the parent location. The first time you
                    create a location or store, pass 0.
                  default: 0
                  format: int32
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 201,
                        "status": "created",
                        "processing_time": 8921,
                        "response_data": {
                            "id": "d163b271-921b-4aa4-ae26-06057d6bbd67",
                            "external_id": "6"
                        },
                        "system_timestamp": "2023-10-06T14:37:51.879-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 201
                    default: 0
                  status:
                    type: string
                    example: created
                  processing_time:
                    type: integer
                    example: 8921
                    default: 0
                  response_data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: d163b271-921b-4aa4-ae26-06057d6bbd67
                      external_id:
                        type: string
                        example: '6'
                  system_timestamp:
                    type: string
                    example: '2023-10-06T14:37:51.879-06:00'
      deprecated: false
  /accounts/cards/anon/order/:
    post:
      summary: Create Anonymous Card Order
      description: >-
        Use this endpoint to initiate a request for a batch of instant-issue
        cards or anonymous credit cards. The cards will be delivered to the
        store location, though this endpoint only works on programs that use
        Galileo.
      operationId: create-anonymous-card-order-1
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: LfPjK9G1.HdU3KoMpRdszfUR735RFOVb74uo0nfa0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - location_external_id
                - number_of_cards
                - name
                - address
                - city
                - state
                - postal_code
              properties:
                location_external_id:
                  type: string
                  description: >-
                    Location identifier given by the processor to the location
                    or store created in advance.
                  default: '3'
                number_of_cards:
                  type: integer
                  description: Number of anonymous credit cards to be created on the order.
                  default: 1000
                  format: int32
                name:
                  type: string
                  description: >-
                    Name of the location or store where the bulk card order is
                    to be shipped.
                  default: demo-cc-store
                address:
                  type: string
                  description: >-
                    Address of the location or store where the bulk card order
                    is to be shipped.
                  default: 127 Lawerence Street
                city:
                  type: string
                  description: City where the location or score is located.
                  default: Toronto
                state:
                  type: string
                  description: State of the city where the location or store is located.
                  default: 'ON'
                postal_code:
                  type: string
                  description: Postal code of the address of the location or store.
                  default: '01917'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 201,
                        "status": "created",
                        "processing_time": 17089,
                        "response_data": {
                            "id": "13e1a296-5125-4fea-b4d3-1ef2f0c6eba0",
                            "external_id": "4"
                        },
                        "system_timestamp": "2023-10-05T14:10:32.899-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 201
                    default: 0
                  status:
                    type: string
                    example: created
                  processing_time:
                    type: integer
                    example: 17089
                    default: 0
                  response_data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 13e1a296-5125-4fea-b4d3-1ef2f0c6eba0
                      external_id:
                        type: string
                        example: '4'
                  system_timestamp:
                    type: string
                    example: '2023-10-05T14:10:32.899-06:00'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /accounts/cards/activate/:
    post:
      summary: Activate Card
      description: >-
        Use this endpoint to activate a credit card of a customer when MO has
        the APP.
      operationId: activate-card-1
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: LfPjK9G1.HdU3KoMpRdszfUR735RFOVb74uo0nfa0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - card_external_id
                - expired_date
              properties:
                card_external_id:
                  type: string
                  description: >-
                    Payment reference number PRN or credit card identifier given
                    by the processor to track all transactions
                  default: '563101002340'
                expired_date:
                  type: string
                  description: Expiration date of the credit card on format YYYY-MM
                  default: 2024-11
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Wrong Format:
                  value: |-
                    {
                      "status_code": 400,
                      "status": "bad_request",
                      "processing_time": 1869,
                      "response_data": {
                        "errors": [
                          {
                            "message": "Date has wrong format. Use one of these formats instead: YYYY-MM.",
                            "code": "invalid",
                            "field": "expired_date"
                          }
                        ]
                      },
                      "system_timestamp": "2023-10-18T10:32:41.431-06:00"
                    }
                Card Does Not Exist:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 767,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The card does not exist.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-10-18T11:04:34.253-06:00"
                    }
                Card Already Activated:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 767,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "the card was already active.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-10-18T11:04:34.253-06:00"
                    }
                Canceled Card:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 767,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The card status is canceled.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-10-18T11:04:34.253-06:00"
                    }
              schema:
                oneOf:
                  - title: Wrong Format
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 1869
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: >-
                                    Date has wrong format. Use one of these
                                    formats instead: YYYY-MM.
                                code:
                                  type: string
                                  example: invalid
                                field:
                                  type: string
                                  example: expired_date
                      system_timestamp:
                        type: string
                        example: '2023-10-18T10:32:41.431-06:00'
                  - title: Card Does Not Exist
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 767
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The card does not exist.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-10-18T11:04:34.253-06:00'
                  - title: Card Already Activated
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 767
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: the card was already active.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-10-18T11:04:34.253-06:00'
                  - title: Canceled Card
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 767
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The card status is canceled.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-10-18T11:04:34.253-06:00'
      deprecated: false
  /accounts/cards/modify_status/{card_status}/:
    patch:
      summary: Modify Status
      description: >-
        Use this endpoint to modify the status of the credit card when MO has
        the APP. The program manager can block or freeze the credit card, report
        the card as stolen or lost, activate the card and cancel the card if
        needed.
      operationId: modify-status-1
      parameters:
        - name: card_status
          in: path
          description: 'Available Options: active, blocked, canceled, lost or stolen.'
          schema:
            type: string
            default: blocked
          required: true
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: LfPjK9G1.HdU3KoMpRdszfUR735RFOVb74uo0nfa0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - card_external_id
              properties:
                card_external_id:
                  type: string
                  description: >-
                    Payment reference number PRN or credit card identifier given
                    by the processor to track all transactions.
                  default: '563101001482'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Choice:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 104,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "\"suspend\" is not a valid choice.",
                                    "code": "invalid_choice",
                                    "field": "status"
                                }
                            ]
                        },
                        "system_timestamp": "2023-10-20T15:11:32.153-06:00"
                    }
                Card Does Not Exist:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 122,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The card does not exist.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-10-20T15:13:15.792-06:00"
                    }
                Suspended Card:
                  value: |-
                    {
                        "status_code": 400,
                        "status": "bad_request",
                        "processing_time": 118,
                        "response_data": {
                            "errors": [
                                {
                                    "message": "The card is suspended and cannot be activated or modified to another status.",
                                    "code": "invalid"
                                }
                            ]
                        },
                        "system_timestamp": "2023-10-20T15:13:57.525-06:00"
                    }
              schema:
                oneOf:
                  - title: Invalid Choice
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 104
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: '"suspend" is not a valid choice.'
                                code:
                                  type: string
                                  example: invalid_choice
                                field:
                                  type: string
                                  example: status
                      system_timestamp:
                        type: string
                        example: '2023-10-20T15:11:32.153-06:00'
                  - title: Card Does Not Exist
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 122
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: The card does not exist.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-10-20T15:13:15.792-06:00'
                  - title: Suspended Card
                    type: object
                    properties:
                      status_code:
                        type: integer
                        example: 400
                        default: 0
                      status:
                        type: string
                        example: bad_request
                      processing_time:
                        type: integer
                        example: 118
                        default: 0
                      response_data:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: >-
                                    The card is suspended and cannot be
                                    activated or modified to another status.
                                code:
                                  type: string
                                  example: invalid
                      system_timestamp:
                        type: string
                        example: '2023-10-20T15:13:57.525-06:00'
      deprecated: false
  /movements/:
    get:
      summary: Get Movements
      description: >-
        Use this endpoint to retrieve all transactions recorded on the processor
        for a credit card account. Includes all the authorizations, settlements,
        payments, adjustments and financial charges.
      operationId: get-movements-1
      parameters:
        - name: account_card_external_id
          in: query
          description: Account card identifier given by the processor to the customer.
          required: true
          schema:
            type: string
            default: '765'
        - name: created_at__gte
          in: query
          description: Lower date range to filter the desired transactions.
          required: true
          schema:
            type: string
            format: date
            default: '2023-10-03'
        - name: created_at__lte
          in: query
          description: Higher date range to filter the desired transactions.
          required: true
          schema:
            type: string
            format: date
            default: '2023-12-03'
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: LfPjK9G1.HdU3KoMpRdszfUR735RFOVb74uo0nfa0
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "status_code": 200,
                      "status": "ok",
                      "processing_time": 1439,
                      "response_data": {
                        "results": [
                          {
                            "id": "52b667a1-eb37-4f03-8bde-f02940bf7bb5",
                            "card_external_id": "arNsVJsmvsWRtdOXzyjX",
                            "amount": "200.0000000000",
                            "movement_type": "loan",
                            "description": "Donkin Donuts",
                            "created_at": "2023-11-03 15:19",
                            "others": {}
                          },
                          {
                            "id": "aecb3532-105b-4b0e-9ea0-157dd18be612",
                            "card_external_id": "KWAtFbdhbzyxZOUjhEMh",
                            "amount": "-100.0000000000",
                            "movement_type": "payment",
                            "description": "Netflix",
                            "created_at": "2023-10-03 15:19",
                            "others": {}
                          }
                        ],
                        "filtered": 2,
                        "links": {
                          "next": null,
                          "previous": null
                        },
                        "count": 2
                      },
                      "system_timestamp": "2023-11-08T11:26:28.230-06:00"
                    }
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 200
                    default: 0
                  status:
                    type: string
                    example: ok
                  processing_time:
                    type: integer
                    example: 1439
                    default: 0
                  response_data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 52b667a1-eb37-4f03-8bde-f02940bf7bb5
                            card_external_id:
                              type: string
                              example: arNsVJsmvsWRtdOXzyjX
                            amount:
                              type: string
                              example: '200.0000000000'
                            movement_type:
                              type: string
                              example: loan
                            description:
                              type: string
                              example: Donkin Donuts
                            created_at:
                              type: string
                              example: 2023-11-03 15:19
                            others:
                              type: object
                              properties: {}
                      filtered:
                        type: integer
                        example: 2
                        default: 0
                      links:
                        type: object
                        properties:
                          next: {}
                          previous: {}
                      count:
                        type: integer
                        example: 2
                        default: 0
                  system_timestamp:
                    type: string
                    example: '2023-11-08T11:26:28.230-06:00'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /accounts/:
    post:
      summary: Create Account
      description: >-
        Use this endpoint to create an account and associate that account with
        an existing customer on MO. Only use this endpoint on a migration
        process or when the onboarding is not configured by MO on the processor.
      operationId: create-account-1
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: LfPjK9G1.HdU3KoMpRdszfUR735RFOVb74uo0nfa0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_external_id
                - external_id
              properties:
                customer_external_id:
                  type: string
                  description: >-
                    External identifier provided by the program manager for the
                    customer.
                  default: django2021
                external_id:
                  type: string
                  description: >-
                    Account card identifier given by the processor to the
                    customer.
                  default: '191'
                others:
                  type: string
                  description: >-
                    Additional information that the program manager wants to
                    save on the account.
                  default: >-
                    [ { "credit_type": "installment",       "last_closing_date":
                    "2024-01-25",       "test_value": "test_value"}]
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /accounts/card/:
    post:
      summary: Create Card
      description: >-
        Use this endpoint to create a card and associate that card with an
        existing account on MO. Only use this endpoint on a migration process or
        when the onboarding is not configured by MO on the processor.
      operationId: create-card-1
      parameters:
        - name: x-api-key
          in: header
          description: API KEY given by MO to the program manager.
          required: true
          schema:
            type: string
            default: LfPjK9G1.HdU3KoMpRdszfUR735RFOVb74uo0nfa0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - account_external_id
                - external_id
                - brand
                - is_main
                - card_number
                - card_type
              properties:
                account_external_id:
                  type: string
                  description: >-
                    Account card identifier given by the processor to the
                    customer.
                  default: '191'
                external_id:
                  type: string
                  description: >-
                    Payment reference number PRN or credit card identifier given
                    by the processor.
                  default: '8393003938'
                brand:
                  type: string
                  description: Brand of the credit card.
                  default: visa
                is_main:
                  type: boolean
                  description: Set the main credit card of the account.
                  default: false
                card_number:
                  type: string
                  description: Obfuscated credit card number or PAN.
                  default: XXX-XXX-1718
                card_type:
                  type: string
                  description: Type of credit card, can be physical or virtual.
                  default: physical
                Others:
                  type: string
                  description: >-
                    Additional information that the program manager wants to
                    save on the credit card.
                  default: >-
                    [         {             "last_closing_date":
                    "2024-01-25",             "test_value": "test_value"        
                    }     ]
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
x-readme-fauxas: true
