openapi: 3.1.0
info:
  title: Lending Product
  version: '2'
servers:
  - url: https://mo-services-zero-production.moprestamo.com/api/v2
tags:
    - name: Offers
    - name: Pre Customers
    - name: Customers
    - name: Loan Requests
    - name: Loans
    - name: Payments
    - name: Products
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: X-API-KEY
    sec1:
      type: apiKey
      in: header
      name: X-AGGREGATOR-ID
security:
  - sec0: []
    sec1: []
paths:
  /offers/{offer_id}/preview:
    get:
      summary: Get Offer Preview
      description: ''
      tags:
        - Offers
      operationId: get-offer-preview
      parameters:
        - name: offer_id
          in: path
          schema:
            type: string
          required: true
        - name: amount
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: installment_quantity
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: disbursed_at
          in: query
          schema:
            type: string
            format: date
        - name: x-api-key
          in: header
          description: >-
            Use the `x-api-key` header to include the API key generated
            previously for authentication purposes. The API key serves as a
            secret token that identifies the client or application making the
            request and is used to determine whether the client has the
            necessary permissions to access the requested resource.
          required: true
          schema:
            type: string
        - name: x-aggregator-id
          in: header
          description: >-
            Use the `x-aggregator-id` header to identify the aggregator for a
            particular request. An aggregator is the entity that is involved in
            the processing of transactions or data. By including the id in the
            header, the server can identify which aggregator the request owns
            and handle the request accordingly.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"data\": {\n        \"installments\": [\n            {\n                \"amount\": \"44.9500000000\",\n                \"payday\": \"2023-11-21T00:00:00Z\",\n                \"taxes\": \"1.0800000000\",\n                \"conditions\": {\n                    \"capital\": {\n                        \"amount\": \"33.0400000000\",\n                        \"tax_amount\": \"0.0000000000\",\n                        \"amount_without_tax\": \"33.04\"\n                    },\n                    \"interest\": {\n                        \"amount\": \"0.9100000000\",\n                        \"tax_amount\": \"0.0800000000\",\n                        \"amount_without_tax\": \"0.83\"\n                    },\n                    \"cost\": {\n                        \"amount\": \"11.0000000000\",\n                        \"tax_amount\": \"1.0000000000\",\n                        \"amount_without_tax\": \"10\"\n                    }\n                },\n                \"installment_number\": 1\n            },\n            {\n                \"amount\": \"44.9500000000\",\n                \"payday\": \"2023-12-21T00:00:00Z\",\n                \"taxes\": \"1.0600000000\",\n                \"conditions\": {\n                    \"capital\": {\n                        \"amount\": \"33.3400000000\",\n                        \"tax_amount\": \"0.0000000000\",\n                        \"amount_without_tax\": \"33.34\"\n                    },\n                    \"interest\": {\n                        \"amount\": \"0.6100000000\",\n                        \"tax_amount\": \"0.0600000000\",\n                        \"amount_without_tax\": \"0.55\"\n                    },\n                    \"cost\": {\n                        \"amount\": \"11.0000000000\",\n                        \"tax_amount\": \"1.0000000000\",\n                        \"amount_without_tax\": \"10\"\n                    }\n                },\n                \"installment_number\": 2\n            },\n            {\n                \"amount\": \"44.9300000000\",\n                \"payday\": \"2024-01-22T00:00:00Z\",\n                \"taxes\": \"1.0300000000\",\n                \"conditions\": {\n                    \"capital\": {\n                        \"amount\": \"33.6200000000\",\n                        \"tax_amount\": \"0.0000000000\",\n                        \"amount_without_tax\": \"33.62\"\n                    },\n                    \"interest\": {\n                        \"amount\": \"0.3100000000\",\n                        \"tax_amount\": \"0.0300000000\",\n                        \"amount_without_tax\": \"0.28\"\n                    },\n                    \"cost\": {\n                        \"amount\": \"11.0000000000\",\n                        \"tax_amount\": \"1.0000000000\",\n                        \"amount_without_tax\": \"10\"\n                    }\n                },\n                \"installment_number\": 3\n            }\n        ],\n        \"total_capital\": \"100.0000000000\",\n        \"total_interest\": \"1.6600000000\",\n        \"total_costs\": \"30.0000000000\",\n        \"total_amount\": \"134.8300000000\",\n        \"total_taxes\": \"3.1700000000\",\n        \"tea\": \"10.0000000000\",\n        \"tcea\": \"514.5600000000\"\n    },\n\t\t\"metadata\": {\n\t\t\t\t\"version\": \"2\",\n\t\t\t\t\"timestamp\": \"2023-11-27T21:37:54.359694Z\"\n\t\t},\n\t\t\"errors\": []\n}"
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      installments:
                        type: array
                        items:
                          type: object
                          properties:
                            amount:
                              type: string
                              example: '44.9500000000'
                            payday:
                              type: string
                              example: '2023-11-21T00:00:00Z'
                            taxes:
                              type: string
                              example: '1.0800000000'
                            conditions:
                              type: object
                              properties:
                                capital:
                                  type: object
                                  properties:
                                    amount:
                                      type: string
                                      example: '33.0400000000'
                                    tax_amount:
                                      type: string
                                      example: '0.0000000000'
                                    amount_without_tax:
                                      type: string
                                      example: '33.04'
                                interest:
                                  type: object
                                  properties:
                                    amount:
                                      type: string
                                      example: '0.9100000000'
                                    tax_amount:
                                      type: string
                                      example: '0.0800000000'
                                    amount_without_tax:
                                      type: string
                                      example: '0.83'
                                cost:
                                  type: object
                                  properties:
                                    amount:
                                      type: string
                                      example: '11.0000000000'
                                    tax_amount:
                                      type: string
                                      example: '1.0000000000'
                                    amount_without_tax:
                                      type: string
                                      example: '10'
                            installment_number:
                              type: integer
                              example: 1
                              default: 0
                      total_capital:
                        type: string
                        example: '100.0000000000'
                      total_interest:
                        type: string
                        example: '1.6600000000'
                      total_costs:
                        type: string
                        example: '30.0000000000'
                      total_amount:
                        type: string
                        example: '134.8300000000'
                      total_taxes:
                        type: string
                        example: '3.1700000000'
                      tea:
                        type: string
                        example: '10.0000000000'
                      tcea:
                        type: string
                        example: '514.5600000000'
                  metadata:
                    type: object
                    properties:
                      version:
                        type: string
                        example: '2'
                      timestamp:
                        type: string
                        example: '2023-11-27T21:37:54.359694Z'
                  errors:
                    type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"09O9XX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: 09O9XX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"09O9XX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: 09O9XX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"09O9XX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: 09O9XX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"09O9XX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: 09O9XX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
      deprecated: false
  /offers:
    get:
      summary: List Offers
      description: ''
      tags:
        - Offers
      operationId: list-offers
      parameters:
        - name: x-api-key
          in: header
          description: >-
            Use the `x-api-key` header to include the API key generated
            previously for authentication purposes. The API key serves as a
            secret token that identifies the client or application making the
            request and is used to determine whether the client has the
            necessary permissions to access the requested resource.
          schema:
            type: string
        - name: x-aggregator-id
          in: header
          description: >-
            Use the `x-aggregator-id` header to identify the aggregator for a
            particular request. An aggregator is the entity that is involved in
            the processing of transactions or data. By including the id in the
            header, the server can identify which aggregator the request owns
            and handle the request accordingly.
          schema:
            type: string
        - name: amount
          in: query
          schema:
            type: number
            format: double
        - name: installment_quantity
          in: query
          schema:
            type: integer
            format: int32
        - name: type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"data\": {\n    \"id\": \"d1532422-c1c2-4b78-9ee1-626ef73b7674\",\n    \"reference\": \"ce687851-392f-4d98-bf54-e1acd79c6f3e\",\n    \"name\": \"Oferta Demo Krealo\",\n    \"description\": \"Oferta para BF\",\n    \"product_id\": \"2da3c176-11b0-490e-8a3e-cc1de76a1abc\",\n    \"product_reference\": \"f6ed2dea-fca3-4875-ac20-0bc22f7859c5\",\n    \"status\": \"draft\",\n    \"created_at\": \"2023-11-24T17:29:26.235067Z\",\n    \"updated_at\": \"2023-11-24T17:29:26.235083Z\",\n    \"end_date\": null,\n    \"type\": \"standard\",\n    \"minimum_amount\": \"50000.0000000000\",\n    \"maximum_amount\": \"100000.0000000000\",\n    \"repayment\": {\n      \"type\": \"installment\",\n      \"periodicity\": \"monthly\"\n    },\n    \"charges\": [\n      {\n        \"trigger\": \"late_installment\",\n        \"tax\": \"19\",\n        \"type\": \"collection_cost\"\n      },\n      {\n        \"name\": \"Impuesto IVA F\",\n        \"tax\": \"19\",\n        \"type\": \"cost\"\n      },\n      {\n        \"trigger\": \"late_installment\",\n        \"interest_value\": \"60\",\n        \"tax\": \"19\",\n        \"type\": \"default_interest\"\n      },\n      {\n        \"name\": \"Desembolso\",\n        \"tax\": \"19\",\n        \"type\": \"cost\"\n      },\n      {\n        \"interest_value\": \"45\",\n        \"tax\": \"19\",\n        \"periodicity\": \"daily\",\n        \"type\": \"interest\"\n      }\n    ],\n\t\"metadata\": {\n\t\t\"version\": \"2\",\n    \"timestamp\": \"2023-11-27T21:37:54.359694Z\"\n\t},\n\t\"errors\": []\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /pre-customers:
    post:
      summary: Create Pre Customer
      description: ''
      tags:
        - Pre Customers
      operationId: create-pre-customer
      parameters:
        - name: x-api-key
          in: header
          description: >-
            Use the `x-api-key` header to include the API key generated
            previously for authentication purposes. The API key serves as a
            secret token that identifies the client or application making the
            request and is used to determine whether the client has the
            necessary permissions to access the requested resource.
          required: true
          schema:
            type: string
        - name: x-aggregator-id
          in: header
          description: >-
            Use the `x-aggregator-id` header to identify the aggregator for a
            particular request. An aggregator is the entity that is involved in
            the processing of transactions or data. By including the id in the
            header, the server can identify which aggregator the request owns
            and handle the request accordingly.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - last_name
                - email
              properties:
                external_id:
                  type: string
                  description: >-
                    The `external_id` field allows you to provide an external
                    identifier or code that can link the newly created Pre
                    Customer to an external system or entity. It can be useful
                    for cross-referencing.
                first_name:
                  type: string
                  description: >-
                    The `first_name` field is required and should contain the
                    first name of the new Pre Customer.
                last_name:
                  type: string
                  description: >-
                    The `last_name` field is required and should contain the
                    last name or surname of the new Pre Customer.
                document_type:
                  type: string
                  description: >-
                    The `document_type` field can specify the type or category
                    of the Pre Customer's document, such as a passport, driver's
                    license, or other forms of identification.
                document_number:
                  type: string
                  description: >-
                    The `document_number` field can store the unique number or
                    identifier associated with the document specified in the
                    `document_type` field.
                phone:
                  type: string
                  description: >-
                    The `phone` field allows you to provide the Pre Customer's
                    contact phone number.
                email:
                  type: string
                  description: >-
                    The `email` field is required and should contain the email
                    address of the "Pre Customer." It is marked as required to
                    ensure each Pre Customer has a valid email address.
                address:
                  type: string
                  description: >-
                    The `address` field can store the Pre Customer's physical
                    address or location information.
                values:
                  type: string
                  description: >-
                    The `values` field allows for the inclusion of additional
                    custom fields or attributes. In your example, you have
                    specified `field_1`, `field_2` and `field_3` which can hold
                    specific values or information relevant to your system or
                    business.
                  format: json
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": {
                        "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      },
                      "metadata": {
                        "version": 0,
                        "timestamp": "2023-10-13T16:10:30.617Z"
                      },
                      "errors": []
                    }
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  metadata:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 0
                        default: 0
                      timestamp:
                        type: string
                        example: '2023-10-13T16:10:30.617Z'
                  errors:
                    type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
      deprecated: false
    get:
      summary: List Pre Customers
      description: >-
        Use the List Pre Customer endpoint to retrieve a list of all records in
        the Pre Customer phase. It can be useful for tracking or managing these
        records.
      tags:
        - Pre Customers
      operationId: list-pre-customers
      parameters:
        - name: ordering
          in: query
          description: >-
            Use this query parameter to specify the order in which the results
            of a query should be returned. It is commonly used for sorting the
            data in ascending or descending order based on one or more fields.
            You can specify one or more fields by which the data should be
            ordered, along with the order direction (ascending or descending)
            using a comma-separated list. For example,
            `ordering=name,created_at` would  order the results first by the
            `name` field in ascending order and then by the `created_at` field
            in ascending order.
          schema:
            type: string
        - name: limit
          in: query
          description: >-
            Use this query parameter to specify the maximum number of results to
            be returned in a single response. It is used for pagination and can
            help manage the size of the response data. The server will limit the
            number of results to the value specified in the `limit` parameter.
            If there are more results available, you may need to make multiple
            requests to retrieve the complete dataset. It's particularly useful
            when dealing with large result sets.
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: >-
            Use this query parameter in conjunction with the `limit` parameter
            for pagination. It specifies the starting point or offset within the
            dataset from which results should be returned. By setting the
            offset, you can navigate to different segments of the result set.
            For example, if you set `offset=20` and `limit=10`, you will receive
            results 21 to 30. It is often used to retrieve subsequent pages of
            results.
          schema:
            type: integer
            format: int32
        - name: x-api-key
          in: header
          description: >-
            Use the `x-api-key` header to include the API key generated
            previously for authentication purposes. The API key serves as a
            secret token that identifies the client or application making the
            request and is used to determine whether the client has the
            necessary permissions to access the requested resource.
          required: true
          schema:
            type: string
        - name: x-aggregator-id
          in: header
          description: >-
            Use the `x-aggregator-id` header to identify the aggregator for a
            particular request. An aggregator is the entity that is involved in
            the processing of transactions or data. By including the id in the
            header, the server can identify which aggregator the request owns
            and handle the request accordingly.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": [\n    {\n      \"id\": \"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\n      \"reference\": \"string\",\n      \"external_id\": \"string\",\n      \"first_name\": \"string\",\n      \"last_name\": \"string\",\n      \"document_type\": \"string\",\n      \"document_number\": \"string\",\n      \"phone\": \"string\",\n      \"email\": \"user@example.com\",\n      \"status\": \"string\",\n      \"created_at\": \"2019-08-24T14:15:22Z\",\n      \"updated_at\": \"2019-08-24T14:15:22Z\"\n\t\t},\n    {\n      \"id\": \"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\n      \"reference\": \"string\",\n      \"external_id\": \"string\",\n      \"first_name\": \"string\",\n      \"last_name\": \"string\",\n      \"document_type\": \"string\",\n      \"document_number\": \"string\",\n      \"phone\": \"string\",\n      \"email\": \"user@example.com\",\n      \"status\": \"string\",\n      \"created_at\": \"2019-08-24T14:15:22Z\",\n      \"updated_at\": \"2019-08-24T14:15:22Z\"\n    }\n  ],\n  \"metadata\": {\n    \"timestamp\": \"2023-08-30T16:30:00Z\",\n    \"version\": \"2\",\n    \"page_size\": 5,\n    \"filtered\": 2,\n    \"total_pages\": 1,\n    \"count\": 2\n  },\n  \"errors\": []\n}"
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                        reference:
                          type: string
                          example: string
                        external_id:
                          type: string
                          example: string
                        first_name:
                          type: string
                          example: string
                        last_name:
                          type: string
                          example: string
                        document_type:
                          type: string
                          example: string
                        document_number:
                          type: string
                          example: string
                        phone:
                          type: string
                          example: string
                        email:
                          type: string
                          example: user@example.com
                        status:
                          type: string
                          example: string
                        created_at:
                          type: string
                          example: '2019-08-24T14:15:22Z'
                        updated_at:
                          type: string
                          example: '2019-08-24T14:15:22Z'
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-08-30T16:30:00Z'
                      version:
                        type: string
                        example: '2'
                      page_size:
                        type: integer
                        example: 5
                        default: 0
                      filtered:
                        type: integer
                        example: 2
                        default: 0
                      total_pages:
                        type: integer
                        example: 1
                        default: 0
                      count:
                        type: integer
                        example: 2
                        default: 0
                  errors:
                    type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
      deprecated: false
  /pre-customers/{precustomer_id}:
    get:
      summary: Detail Pre Customer
      description: >-
        Use the Detail Pre Customer endpoint to retrieve the details about a
        customer in the Pre Customer phase. It can be used to obtain in-depth
        information about a particular record.
      tags:
        - Pre Customers
      operationId: detail-pre-customer
      parameters:
        - name: precustomer_id
          in: path
          description: >-
            It is a UUID that uniquely identifies a **Pre Customer** in the
            system. When making a request to retrieve details about a specific
            **Pre Customer**, you should replace {precustomer_id} in the URL
            with the actual UUID of the **Pre Customer** you want to retrieve
            information about.
          schema:
            type: string
          required: true
        - name: x-api-key
          in: header
          description: >-
            Use the `x-api-key` header to include the API key generated
            previously for authentication purposes. The API key serves as a
            secret token that identifies the client or application making the
            request and is used to determine whether the client has the
            necessary permissions to access the requested resource.
          required: true
          schema:
            type: string
        - name: x-aggregator-id
          in: header
          description: >-
            Use the `x-aggregator-id` header to identify the aggregator for a
            particular request. An aggregator is the entity that is involved in
            the processing of transactions or data. By including the id in the
            header, the server can identify which aggregator the request owns
            and handle the request accordingly.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": {\n\t\t\"id\": \"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\n\t\t\"reference\": \"string\",\n\t\t\"external_id\": \"string\",\n\t\t\"first_name\": \"string\",\n\t\t\"last_name\": \"string\",\n\t\t\"document_type\": \"string\",\n\t\t\"document_number\": \"string\",\n\t\t\"phone\": \"string\",\n\t\t\"email\": \"user@example.com\",\n\t\t\"status\": \"string\",\n\t\t\"created_at\": \"2019-08-24T14:15:22Z\",\n\t\t\"updated_at\": \"2019-08-24T14:15:22Z\"\n\t},\n  \"metadata\": {\n    \"version\": 0,\n    \"timestamp\": \"2023-10-13T16:10:30.617Z\"\n  },\n  \"errors\": []\n}"
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                      reference:
                        type: string
                        example: string
                      external_id:
                        type: string
                        example: string
                      first_name:
                        type: string
                        example: string
                      last_name:
                        type: string
                        example: string
                      document_type:
                        type: string
                        example: string
                      document_number:
                        type: string
                        example: string
                      phone:
                        type: string
                        example: string
                      email:
                        type: string
                        example: user@example.com
                      status:
                        type: string
                        example: string
                      created_at:
                        type: string
                        example: '2019-08-24T14:15:22Z'
                      updated_at:
                        type: string
                        example: '2019-08-24T14:15:22Z'
                  metadata:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 0
                        default: 0
                      timestamp:
                        type: string
                        example: '2023-10-13T16:10:30.617Z'
                  errors:
                    type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
      deprecated: false
  /customers:
    get:
      summary: List Customers
      description: >-
        Use the List Customer endpoint to retrieve a list of all customers who
        have reached the Customer phase.
      tags:
        - Customers
      operationId: list-customers
      parameters:
        - name: x-api-key
          in: header
          description: >-
            Use the `x-api-key` header to include the API key generated
            previously for authentication purposes. The API key serves as a
            secret token that identifies the client or application making the
            request and is used to determine whether the client has the
            necessary permissions to access the requested resource.
          required: true
          schema:
            type: string
        - name: ordering
          in: query
          description: >-
            Use this query parameter to specify the order in which the results
            of a query should be returned. It is commonly used for sorting the
            data in ascending or descending order based on one or more fields.
            You can specify one or more fields by which the data should be
            ordered, along with the order direction (ascending or descending)
            using a comma-separated list. For example,
            `ordering=name,created_at` would  order the results first by the
            `name` field in ascending order and then by the `created_at` field
            in ascending order.
          schema:
            type: string
        - name: limit
          in: query
          description: >-
            Use this query parameter to specify the maximum number of results to
            be returned in a single response. It is used for pagination and can
            help manage the size of the response data. The server will limit the
            number of results to the value specified in the `limit` parameter.
            If there are more results available, you may need to make multiple
            requests to retrieve the complete dataset. It's particularly useful
            when dealing with large result sets.
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: >-
            Use this query parameter in conjunction with the `limit` parameter
            for pagination. It specifies the starting point or offset within the
            dataset from which results should be returned. By setting the
            offset, you can navigate to different segments of the result set.
            For example, if you set `offset=20` and `limit=10`, you will receive
            results 21 to 30. It is often used to retrieve subsequent pages of
            results.
          schema:
            type: integer
            format: int32
        - name: x-aggregator-id
          in: header
          description: >-
            Use the `x-aggregator-id` header to identify the aggregator for a
            particular request. An aggregator is the entity that is involved in
            the processing of transactions or data. By including the id in the
            header, the server can identify which aggregator the request owns
            and handle the request accordingly.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": [\n    {\n      \"id\": \"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\n      \"reference\": \"string\",\n      \"external_id\": \"string\",\n      \"first_name\": \"string\",\n      \"last_name\": \"string\",\n      \"document_type\": \"string\",\n      \"document_number\": \"string\",\n      \"phone\": \"string\",\n      \"email\": \"user@example.com\",\n      \"status\": \"string\",\n      \"personal_accepted_at\": \"2019-08-24T14:15:22Z\",\n      \"commercial_accepted_at\": \"2019-08-24T14:15:22Z\",\n      \"created_at\": \"2019-08-24T14:15:22Z\",\n      \"updated_at\": \"2019-08-24T14:15:22Z\"\n\t\t},\n    {\n      \"id\": \"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\n      \"reference\": \"string\",\n      \"external_id\": \"string\",\n      \"first_name\": \"string\",\n      \"last_name\": \"string\",\n      \"document_type\": \"string\",\n      \"document_number\": \"string\",\n      \"phone\": \"string\",\n      \"email\": \"user@example.com\",\n      \"status\": \"string\",\n      \"personal_accepted_at\": \"2019-08-24T14:15:22Z\",\n      \"commercial_accepted_at\": \"2019-08-24T14:15:22Z\",\n      \"created_at\": \"2019-08-24T14:15:22Z\",\n      \"updated_at\": \"2019-08-24T14:15:22Z\"\n    }\n  ],\n  \"metadata\": {\n    \"timestamp\": \"2023-08-30T16:30:00Z\",\n    \"version\": \"2\",\n    \"page_size\": 5,\n    \"filtered\": 2,\n    \"total_pages\": 1,\n    \"count\": 2\n  },\n  \"errors\": []\n}"
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                        reference:
                          type: string
                          example: string
                        external_id:
                          type: string
                          example: string
                        first_name:
                          type: string
                          example: string
                        last_name:
                          type: string
                          example: string
                        document_type:
                          type: string
                          example: string
                        document_number:
                          type: string
                          example: string
                        phone:
                          type: string
                          example: string
                        email:
                          type: string
                          example: user@example.com
                        status:
                          type: string
                          example: string
                        personal_accepted_at:
                          type: string
                          example: '2019-08-24T14:15:22Z'
                        commercial_accepted_at:
                          type: string
                          example: '2019-08-24T14:15:22Z'
                        created_at:
                          type: string
                          example: '2019-08-24T14:15:22Z'
                        updated_at:
                          type: string
                          example: '2019-08-24T14:15:22Z'
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-08-30T16:30:00Z'
                      version:
                        type: string
                        example: '2'
                      page_size:
                        type: integer
                        example: 5
                        default: 0
                      filtered:
                        type: integer
                        example: 2
                        default: 0
                      total_pages:
                        type: integer
                        example: 1
                        default: 0
                      count:
                        type: integer
                        example: 2
                        default: 0
                  errors:
                    type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
      deprecated: false
    post:
      summary: Create Customer
      description: >-
        Use the Create Customer endpoint to promote or upgrade a Pre Customer to
        the Customer phase. This is done when all necessary onboarding steps
        have been completed.
      tags:
        - Customers
      operationId: create-customer
      parameters:
        - name: x-api-key
          in: header
          description: >-
            Use the `x-api-key` header to include the API key generated
            previously for authentication purposes. The API key serves as a
            secret token that identifies the client or application making the
            request and is used to determine whether the client has the
            necessary permissions to access the requested resource.
          required: true
          schema:
            type: string
        - name: x-aggregator-id
          in: header
          description: >-
            Use the `x-aggregator-id` header to identify the aggregator for a
            particular request. An aggregator is the entity that is involved in
            the processing of transactions or data. By including the id in the
            header, the server can identify which aggregator the request owns
            and handle the request accordingly.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - precustomer_id
                - first_name
                - last_name
                - email
              properties:
                precustomer_id:
                  type: string
                external_id:
                  type: string
                  description: >-
                    The `external_id` field allows you to provide an external
                    identifier or code that can link the newly created Customer
                    to an external system or entity. It can be useful for
                    cross-referencing.
                first_name:
                  type: string
                  description: >-
                    The `first_name` field is required and should contain the
                    first name of the new customer.
                last_name:
                  type: string
                  description: >-
                    The `last_name` field is required and should contain the
                    last name or surname of the new customer.
                document_type:
                  type: string
                  description: >-
                    The `document_type` field can specify the type or category
                    of the customer's document, such as a passport, driver's
                    license, or other forms of identification.
                document_number:
                  type: string
                  description: >-
                    The `document_number` field can store the unique number or
                    identifier associated with the document specified in the
                    `document_type` field.
                phone:
                  type: string
                  description: >-
                    The `phone` field allows you to provide the customer's
                    contact phone number.
                email:
                  type: string
                address:
                  type: string
                  description: >-
                    The `address` field can store the customer's physical
                    address or location information.
                personal_accepted_at:
                  type: string
                  description: >-
                    The `personal_accepted_at` field records the date and time
                    when the customer accepted or acknowledged personal
                    agreements or terms.
                commercial_accepted_at:
                  type: string
                  description: >-
                    The `commercial_accepted_at` field records the date and time
                    when the customer accepted or acknowledged commercial
                    agreements or terms, often in a business context.
                values:
                  type: string
                  description: >-
                    The `values` field allows for the inclusion of additional
                    custom fields or attributes. Example, it could be specified
                    `field_1`, `field_2` and `field_3` which can hold specific
                    values or information relevant to your system or business.
                  format: json
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": {
                        "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      },
                      "metadata": {
                        "version": 0,
                        "timestamp": "2023-10-13T16:10:30.617Z"
                      },
                      "errors": []
                    }
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  metadata:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 0
                        default: 0
                      timestamp:
                        type: string
                        example: '2023-10-13T16:10:30.617Z'
                  errors:
                    type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
      deprecated: false
  /customers/{customer_id}:
    get:
      summary: Detail Customer
      description: >-
        This web service provides specific details about a customer in the
        **Customer** phase. It can be used to obtain in-depth information about
        a particular customer.
      tags:
        - Customers
      operationId: detail-customer
      parameters:
        - name: customer_id
          in: path
          description: >-
            This is a UUID that uniquely identifies a Customer in the system.
            When making a request to retrieve details about a specific Customer,
            you should replace {customer_id} in the URL with the actual UUID of
            the Customer you want to retrieve information about.
          schema:
            type: string
          required: true
        - name: x-api-key
          in: header
          description: >-
            Use the `x-api-key` header to include the API key generated
            previously for authentication purposes. The API key serves as a
            secret token that identifies the client or application making the
            request and is used to determine whether the client has the
            necessary permissions to access the requested resource.
          required: true
          schema:
            type: string
        - name: xaggregator-id
          in: header
          description: >-
            Use the `x-aggregator-id` header to identify the aggregator for a
            particular request. An aggregator is the entity that is involved in
            the processing of transactions or data. By including the id in the
            header, the server can identify which aggregator the request owns
            and handle the request accordingly.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": {\n\t\t\"id\": \"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\n\t\t\"reference\": \"string\",\n\t\t\"external_id\": \"string\",\n\t\t\"first_name\": \"string\",\n\t\t\"last_name\": \"string\",\n\t\t\"document_type\": \"string\",\n\t\t\"document_number\": \"string\",\n\t\t\"phone\": \"string\",\n\t\t\"email\": \"user@example.com\",\n\t\t\"status\": \"string\",\n\t\t\"personal_accepted_at\": \"2019-08-24T14:15:22Z\",\n\t\t\"commercial_accepted_at\": \"2019-08-24T14:15:22Z\",\n\t\t\"created_at\": \"2019-08-24T14:15:22Z\",\n\t\t\"updated_at\": \"2019-08-24T14:15:22Z\"\n\t},\n  \"metadata\": {\n    \"version\": 0,\n    \"timestamp\": \"2023-10-13T16:10:30.617Z\"\n  },\n  \"errors\": []\n}"
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                      reference:
                        type: string
                        example: string
                      external_id:
                        type: string
                        example: string
                      first_name:
                        type: string
                        example: string
                      last_name:
                        type: string
                        example: string
                      document_type:
                        type: string
                        example: string
                      document_number:
                        type: string
                        example: string
                      phone:
                        type: string
                        example: string
                      email:
                        type: string
                        example: user@example.com
                      status:
                        type: string
                        example: string
                      personal_accepted_at:
                        type: string
                        example: '2019-08-24T14:15:22Z'
                      commercial_accepted_at:
                        type: string
                        example: '2019-08-24T14:15:22Z'
                      created_at:
                        type: string
                        example: '2019-08-24T14:15:22Z'
                      updated_at:
                        type: string
                        example: '2019-08-24T14:15:22Z'
                  metadata:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 0
                        default: 0
                      timestamp:
                        type: string
                        example: '2023-10-13T16:10:30.617Z'
                  errors:
                    type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
      deprecated: false
  /customers/{customer_id}/scores:
    get:
      summary: Get Customer Scores
      description: >-
        Use the List Customer Score endpoint to retrieve a list of scores
        associated with a specific customer based on their `customer_id`.
      tags:
        - Customers
      operationId: list-customer-scores
      parameters:
        - name: limit
          in: query
          description: >-
            Use this query parameter to specify the maximum number of results to
            be returned in a single response. It is used for pagination and can
            help manage the size of the response data. The server will limit the
            number of results to the value specified in the `limit` parameter.
            If there are more results available, you may need to make multiple
            requests to retrieve the complete dataset. It's particularly useful
            when dealing with large result sets.
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: >-
            Use this query parameter in conjunction with the `limit` parameter
            for pagination. It specifies the starting point or offset within the
            dataset from which results should be returned. By setting the
            offset, you can navigate to different segments of the result set.
            For example, if you set `offset=20` and `limit=10`, you will receive
            results 21 to 30. It is often used to retrieve subsequent pages of
            results.
          schema:
            type: integer
            format: int32
        - name: x-api-key
          in: header
          description: >-
            Use the `x-api-key` header to include the API key generated
            previously for authentication purposes. The API key serves as a
            secret token that identifies the client or application making the
            request and is used to determine whether the client has the
            necessary permissions to access the requested resource.
          required: true
          schema:
            type: string
        - name: customer_id
          in: path
          description: >-
            This is a UUID that uniquely identifies a Customer in the system.
            When making a request to retrieve details about a specific Customer,
            you should replace {customer_id} in the URL with the actual UUID of
            the Customer you want to retrieve information about.
          schema:
            type: string
          required: true
        - name: x-aggregator-id
          in: header
          description: >-
            Use the `x-aggregator-id` header to identify the aggregator for a
            particular request. An aggregator is the entity that is involved in
            the processing of transactions or data. By including the id in the
            header, the server can identify which aggregator the request owns
            and handle the request accordingly.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": [\n    {\n      \"score\": 0.78900,\n      \"pre_approved_amount\": 100.00,\n      \"product_id\": \"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\n      \"product_name\": \"string\"\n\t\t},\n    {\n      \"score\": 0.78900,\n      \"pre_approved_amount\": 100.00,\n      \"product_id\": \"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\n      \"product_name\": \"string\"\n\t\t}\n  ],\n  \"metadata\": {\n\t\t\"timestamp\": \"2023-08-30T16:30:00Z\",\n    \"version\": \"2\"\n  },\n  \"errors\": []\n}"
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        score:
                          type: number
                          example: 0.789
                          default: 0
                        pre_approved_amount:
                          type: integer
                          example: 100
                          default: 0
                        product_id:
                          type: string
                          example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                        product_name:
                          type: string
                          example: string
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-08-30T16:30:00Z'
                      version:
                        type: string
                        example: '2'
                  errors:
                    type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\t\"data\": null,\n\t\t\"errors\": [\n\t\t\t\t{\n\t\t\t\t\t\t\"code\": \"XXXXXX\",\n\t\t\t\t\t\t\"description\": \"Description of error\",\n            \"detail\": {\n\t\t\t\t\t\t\t\t\"message\": \"Detail message of error\"\n\t\t\t\t\t\t},\n            \"name\": \"ERROR_NAME\"\n\t\t\t\t}\n\t\t],\n\t\t\"metadata\": {\n\t\t\t\t\"timestamp\": \"2023-11-27T15:04:00.033472Z\", \n\t\t\t\t\"version\": \"2\"\n\t\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: XXXXXX
                        description:
                          type: string
                          example: Description of error
                        detail:
                          type: object
                          properties:
                            message:
                              type: string
                              example: Detail message of error
                        name:
                          type: string
                          example: ERROR_NAME
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-11-27T15:04:00.033472Z'
                      version:
                        type: string
                        example: '2'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
[...]
